<html>
	<head>
		<title>URL shortener</title>
	</head>
	<body>
	<h1>Welcome to URL Shortener!</h1>

    {% if error %}
    <p> Something's fucked </p>
    {% endif %}

    {% if url %}
    <p> Your shortened URL is {{ url_for('red', url=url, _external=True) }} </p>
    {% endif %}

		<hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
					{% for message in messages %}
						{{ message }} 
					{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>

